include src/pug/color-block.pug


mixin checkbox-item(text)
    .checkbox__item
        input(type="submit" class="checkbox__item__input" id="checkbox__item__input" value="") 
        label(for="checkbox__item" class="checkbox__item__label")=text

mixin checkbox-item-wide(header, paragraph)
    .checkbox__item.wide
        input(type="submit" class="checkbox__item__input" id="checkbox__item__input" value="") 
        label(for="checkbox__item" class="checkbox__item__label")
            h3=header
            p=paragraph


mixin radio()
    .radio
        .radio__title
            h3="Radio buttons"
        .radio__options
            input(name="option" type="radio" id="left" class="hide" checked)
            label(for="left")="Мужчины"
            input(name="option" type="radio" id="right" class="hide")
            label(for="right")="Женщины"

mixin toggle(isChecked)
    .toggle
        .toggle__title
            h3="Toggle"
        .toggle__items
            if(isChecked)
                input(type="checkbox" class="toggle__item" id='tg' checked)
            else
                input(type="checkbox" class="toggle__item" id='tg')
            label(for="tg")="Получать спецпредложения"

mixin like()
    .like__label
            h3= "Like button"
    button.like
        i(class="like__icon material-icons" style="font-size: 10px")="favorite_border"
        p(class="like__text")="2"

mixin rating()
    h3(class="rating__title")="rate button"
    .rating
        
        input(type="radio" name="rating" id="r1")
        label(for="r1" class="material-icons")

        input(type="radio" name="rating" id="r2")
        label(for="r2" class="material-icons")

        input(type="radio" name="rating" id="r3")
        label(for="r3" class="material-icons")

        input(type="radio" name="rating" id="r4")
        label(for="r4" class="material-icons")

        input(type="radio" name="rating" id="r5")
        label(for="r5" class="material-icons")

mixin button-submit()
    .button-submit
        button.button.filled
            p="Перейти к оплате"
            label(type="submit" class="filled__submit material-icons")="arrow_forward"

mixin expandable-checkbox()
    .expandable-checkbox
        .expandable-checkbox__title
            h3.title="Range Slider"
            span(class=".expandable-checkbox__btn material-icons")="keyboard_arrow_up"
        .expandable-checkbox__items.disabled
            +checkbox-item("Завтрак")
            +checkbox-item("Письменный стол")
            +checkbox-item("Стул для кормления")
            +checkbox-item("Кроватка")
            +checkbox-item("Телевизор")
            +checkbox-item("Шампунь")

mixin bullet-list(items)
    .bullet-list
        h3.title="bullet list"
        ul
            each item in items
                li= item

-var colors = [{name: "dark", opacity: "100"},{name: "dark", opacity: "75"},{name: "dark", opacity: "50"},{name: "dark", opacity: "25"},{name: "purple", opacity: ""},{name: "green", opacity: ""},]


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        section.container
            .logo
            .container.half
                each color in colors
                    if(color.name == "dark" && opacity != "")
                        -var cname = color.name + "-" + color.opacity
                        -var ctext = `Dark Shade ${color.opacity}%`
                        +colors_block(cname, ctext, "#1F2041")
                    else if (color.name == "purple")
                        +colors_block("purple", "Purple", "#BC9CFF")
                    else if (color.name == "green")
                        +colors_block("green", "Green", "#6FCF97")
            .container.half
                +type_block("h1", "This one is the sub-section or widget title")
                +type_block("h2", "Next one is the item title inside widgets")
                +type_block("h3", "This is a label or CTA text")
                +type_block("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
        section.container
            .container.half
                +text-field("text-field", "Email", "text")
                +masked-text-field("masked text-field", "DD.MM.YYYY", "text")
                +subscription-text-field("subscription text field", "Email")
                +dropdown(false)
                +dropdown(true)
                <input type='text' class="datepicker-here"/>
                .checkbox
                    .checkbox__label
                        h3= "Checkbox Buttons"
                    +checkbox-item("Можно курить")
                    +checkbox-item("Можно с питомцами")
                    +checkbox-item("Можно пригласить гостей (до 10 человек)")
                +radio()
                +toggle(true)
                +toggle(false)
                +like()
                +rating()

                h3.button__title="Buttons"
                button.button="Click Me"
                button.button.dark50="Click Me"
                button.button.border="Click Me"
                button.button.border.disabled="Click Me"

                +button-submit()
                .paginator
                +expandable-checkbox()

                h3.title="rich checkbox buttons"
                +checkbox-item-wide("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
                +checkbox-item-wide("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
                +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00,а выезд до 12:00"])
            .container.half
                
                
                
        
                


                
                

                
                
                

                    
                    
                
                
                
                
                
                
                

                        


            