include src/pug/color-block.pug


mixin checkbox-item(text)
    .checkbox__item
        input(type="submit" class="checkbox__item__input" id="checkbox__item__input" value="") 
        label(for="checkbox__item" class="checkbox__item__label")=text

mixin checkbox-item-wide(header, paragraph)
    .checkbox__item.wide
        input(type="submit" class="checkbox__item__input" id="checkbox__item__input" value="") 
        label(for="checkbox__item" class="checkbox__item__label")
            h3=header
            p=paragraph


mixin radio()
    .radio
        //- .radio__title
        //-     h3="Radio buttons"
        .radio__options
            input(name="option" type="radio" id="left" class="hide" checked)
            label(for="left")="Мужчины"
            input(name="option" type="radio" id="right" class="hide")
            label(for="right")="Женщины"

mixin toggle(isChecked)
    .toggle
        //- .toggle__title
        //-     h3="Toggle"
        .toggle__items
            if(isChecked)
                input(type="checkbox" class="toggle__item" id='tg' checked)
            else
                input(type="checkbox" class="toggle__item" id='tg')
            label(for="tg")="Получать спецпредложения"

mixin like()
    //- .like__label
    //-         h3= "Like button"
    button.like
        i(class="like__icon material-icons" style="font-size: 10px")="favorite_border"
        p(class="like__text")="2"

mixin rating()
    //- h3(class="rating__title")="rate button"
    .rating
        
        input(type="radio" name="rating" id="r1")
        label(for="r1" class="material-icons")

        input(type="radio" name="rating" id="r2")
        label(for="r2" class="material-icons")

        input(type="radio" name="rating" id="r3")
        label(for="r3" class="material-icons")

        input(type="radio" name="rating" id="r4")
        label(for="r4" class="material-icons")

        input(type="radio" name="rating" id="r5")
        label(for="r5" class="material-icons")

mixin button-submit(title)
    .button-submit
        button.button.filled
            p=title
            label(type="submit" class="filled__submit material-icons")="arrow_forward"

mixin expandable-checkbox()
    .expandable-checkbox
        .expandable-checkbox__title
            h3.title="Range Slider"
            span(class=".expandable-checkbox__btn material-icons")="keyboard_arrow_up"
        .expandable-checkbox__items.disabled
            +checkbox-item("Завтрак")
            +checkbox-item("Письменный стол")
            +checkbox-item("Стул для кормления")
            +checkbox-item("Кроватка")
            +checkbox-item("Телевизор")
            +checkbox-item("Шампунь")

mixin bullet-list(items)
    .bullet-list
        h3.title="bullet list"
        ul
            each item in items
                li= item


mixin cons(name)
    .cons
        span.material-icons=name
        h3="Комфорт"
        p="Шумопоглощающие стены"

mixin review(name, time, comment)
    .review
        .review__title
            .review__title-icon
            .review__title-name
                h3=name
                p=time
        .review__body
            +like()
            p=comment



-var colors = [{name: "dark", opacity: "100"},{name: "dark", opacity: "75"},{name: "dark", opacity: "50"},{name: "dark", opacity: "25"},{name: "purple", opacity: ""},{name: "green", opacity: ""},]




doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .logo
        section.container
            include src/pug/colors-types.pug
        section.container
            include src/pug/form-elements.pug
        section.container
            +review(...["Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."])
        section.container
            include src/pug/cards.pug
        section
            include src/pug/header-footer.pug