mixin date-dropdown(name)
    .dropdown
        h3=name
        .dropdown__title.short
            input(type="text" class ="datepicker-left dropdown__title__input upper" name="dropdown" placeholder="ДД.ММ.ГГГГ")
            input(type="submit" class="dropdown__title__submit material-icons" value="keyboard_arrow_down")


mixin date-pick()
    .dropdown
        h3.title="date pick"
        .dropdown__title
            //- label(for="dropdown")= "date pick"
            input(type="text" class ="datepicker-here dropdown__title__input" name="dropdown" placeholder="19 авг - 23 авг")
            input(type="submit" class="dropdown__title__submit material-icons" value="keyboard_arrow_down")



mixin colors_block(color, title, title_color)
    .colors
        .colors__img(class=color)
        .colors__txt
            p=title
            if (color.name == "purple" || color.name == "green")
                br
            p=title_color

mixin type_block(name, title)
    .types
        .types__name(class=name)=name
        .types__title(class=name)=title

mixin text-field(name, placeholder, type)
    .text-field
                label(for=name)= name
                input(type=type class ="text-field__text" name=name placeholder=placeholder)

mixin masked-text-field(placeholder, id)
    .text-field
                //- label(for=name)= name
                input(type="text"  class="text-field__text" id=id name=name placeholder=placeholder)

mixin subscription-text-field(name, placeholder)
    .text-field
            label(for=name)= "subscription text field"
            input(type="email" class ="text-field__text" name=name placeholder=placeholder)
            input(type="submit" class="text-field__submit material-icons" value="arrow_forward")

mixin increment-input(name)
    .increment-input
        label(for="increment-input__input")=name
        .increment-input__container
            .increment-input__minus.disabled="-"
            input(type="number" min="0" max="100" step="1" value="0" class="increment-input__input")
            .increment-input__plus="+"


mixin dropdown(people, title) 
    .dropdown
        .dropdown__title
            label(for="dropdown")=title
            if(people)
                input(type="text" class ="dropdown__title__input" name="dropdown" placeholder="Сколько гостей")
            else
                input(type="text" class ="dropdown__title__input" name="dropdown" placeholder="0 спальни; 0 кровати...")
            input(type="submit" class="dropdown__title__submit material-icons" value="keyboard_arrow_down")
        .dropdown__items
            if(people)
                +increment-input("Взрослые")
                +increment-input("Дети")
                +increment-input("Младенцы")
                .increment-input__buttons-block
                    .button.clean="Очистить"
                    .button="Применить"
            else
                +increment-input("Спальни")
                +increment-input("Кровати")
                +increment-input("Ванные комнаты")

