.header_block
    .logo-block
        .logo-block__icon
        img.logo-block__title
    nav
        ul
            li.active="О нас"
            li.drop="Услуги"
            li="Вакансии"
            li="Новости"
            li.drop="Соглашения"
        button.button.border="Войти"
        button.button.filled="зарегистрироваться"

.header_block.buttonless
    .logo-block
        .logo-block__icon
        img.logo-block__title
    nav
        ul
            li.active="О нас"
            li.drop="Услуги"
            li="Вакансии"
            li="Новости"
            li.drop="Соглашения"
        button.button.border="Войти"
        button.button.filled="зарегистрироваться"